@media (max-width: 320px) {
    .body {
        font-family: "TT Lakes";
        background-color: #f8f8f8;
        margin: 0;
    }

    @font-face {
        font-family: "TT Lakes";
        
        src: url(TTLakesCompressed-Italic.ttf);
        src: url(TTLakesCompressed-Italic.woff);
        src: url(TTLakesCompressed-Italic.eot);
    }
    
    .main {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .icons-and-logo {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF;
        padding: 20px;
    }
    .icons-and-logo__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
    .header {
        margin-left: 20px;
        position: relative;
    }
    .header::before {
        content: "";
        background-image: url(highlight.png);
        width: 4px;
        height: 40px;
        position: absolute;
        left: -20px;
        top: 20px;
    }
    .menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
        min-width: 1120px;
        justify-content: space-evenly;
    }
    .menu__item {
        border: 2px solid #B8FFEC;
        background: #FFFFFF;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
    }
    .menu__link {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .content__text {
        
        margin-left: 16px;
        margin-right: 16px;
        font-size: 14px;
    }
    .content__block_link {
        position: relative;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    .content__link {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        position: relative;
    }
    .content__link::before {
        content: '';
        background-image: url(next.png);
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -15px;
        top: 5px;
    }
}

@media (min-width: 321px) and (max-width: 1119px) {}

@media (min-width: 1120px) {}