@media screen and (max-width: 320px) {
    .body {
        font-family: "TT Lakes";
        background-color: #f8f8f8;
        margin: 0;
    }
    @font-face {
        font-family: "TT Lakes";
        src: url(TTLakesCompressed-Italic.ttf);
        src: url(TTLakesCompressed-Italic.woff);
        src: url(TTLakesCompressed-Italic.eot);
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .icons-and-logo {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF;
        padding: 20px;
    }
    .icons-and-logo__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
    .header {
        margin-left: 20px;
        position: relative;
    }
    .header::before {
        content: "";
        background-image: url(highlight.png);
        width: 4px;
        height: 40px;
        position: absolute;
        left: -20px;
        top: 20px;
    }
    .menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
        min-width: 1120px;
        justify-content: space-evenly;
    }
    .menu__item {
        border: 2px solid #B8FFEC;
        background: #FFFFFF;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
    }
    .menu__link {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .content__text {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 14px;
    }
    .content__block_link {
        position: relative;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    .content__link {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        position: relative;
    }
    .content__link::before {
        content: '';
        background-image: url(next.png);
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -15px;
        top: 5px;
    }
    .icons-and-logo_768px {
        display: none;
    }
    .content_768px {
        display: none;
    }
    .header-and-links_1120px {
        display: none;
    }
    .content_1120px {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 321px) {
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    .icons-and-logo {
        display: none;
    }
    .content {
        display: none;
    }
    .header-and-links_1120px {
        display: none;
    }
    .content_1120px {
        display: none;
    }
    .body {
        font-family: "TT Lakes";
        background-color: #f8f8f8;
        margin: 0;
    }
    @font-face {
        font-family: "TT Lakes";
        src: url(TTLakesCompressed-Italic.ttf);
        src: url(TTLakesCompressed-Italic.woff);
        src: url(TTLakesCompressed-Italic.eot);
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .icons-and-logo_768px {
        width: 100%;
        display: flex;
        background-color: #FFFFFF;
        padding: 20px;
        justify-content: space-evenly;
    }
    .icons-and-logo_768px__block {
        flex-basis: 50%;
        max-width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .icons-and-logo_768px__logo {
        flex-basis: 70%
    }
    .icons-and-logo_768px__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
    .header {
        margin-left: 20px;
        position: relative;
        font-size: 24px;
        font-weight: 800;
    }
    .header::before {
        content: "";
        background-image: url(highlight.png);
        width: 4px;
        height: 60px;
        position: absolute;
        left: -20px;
        top: 30px;
    }
    .menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
        min-width: 1120px;
        justify-content: space-around;
    }
    .menu__item {
        border: 2px solid #B8FFEC;
        background: #FFFFFF;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
    }
    .menu__link {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .content_768px {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content_768px__text {
        flex-basis: 40%;
        padding-left: 20px;
    }
    .content_768px__block_image {
        flex-basis: 50%;
        margin-top: 20px;
        margin-left: 10%;
    }
    .content_768px__block_link {
        margin-left: 40px;
        position: relative;
    }
    .content_768px__link {
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
    .content_768px__link::before {
        content: '';
        background-image: url(next.png);
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -15px;
        top: 5px;
    }
}

@media (max-width: 1120px) {
    .icons-and-logo {
        display: none !important;
    }
    .icons-and-logo_768px, .icons-and-logo_768px__block_main, .icons-and-logo_768px__block_minor {
        display: none;
    }
    .header {
        display: none !important;
    }
    .content {
        display: none !important;
    }
    .content_768px {
        display: none !important;
    }
    .body {
        font-family: "TT Lakes";
        background-color: #f8f8f8;
        margin: 0;
    }
    @font-face {
        font-family: "TT Lakes";
        src: url(./fonts/TTLakesCompressed-Regular.ttf);
        src: url(./fonts/TTLakesCompressed-Regular.ttf);
        src: url(./fonts/TTLakesCompressed-Regular.woff);
    }
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    .main {
        width: 100%;
    }
    .header-and-links_1120px {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
    }
    .header-and-links_1120px__header {
        flex: 50%;
        padding-left: 2em;
        font-size: 28px;
    }
    .header-and-links_1120px__header::before {
        content: "";
        background-image: url(highlight.png);
        width: 6px;
        height: 60px;
        position: absolute;
        left: 0;
        top: 2.4em;
    }
    .header-and-links_1120px__links {
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: medium;
    }
    .header-and-links_1120px__link {
        text-decoration: none;
        color: black;
    }
    .header-and-links_1120px__button {
        border: none;
        background-color: #f8f8f8;
        outline: none;
        outline-offset: none;
    }
    .header-and-links_1120px__nav {
        display: flex;
    }
    .header-and-links_1120px__link {
        align-self: center;
    }
    .menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 100%;
    }
    .menu__item {
        border: 2px solid #B8FFEC;
        background: #FFFFFF;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
        margin-right: 14px;
    }
    .menu__item_first {
        margin-left: 32px;
    }
    .menu__link {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .content_1120px {
        display: flex;
        margin-top: 2em;
        justify-content: space-around;
    }
    .content_1120px__text {
        flex-basis: 490px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        letter-spacing: 0.2px;
        margin-right: 34px;
        margin-left: 36px;
    }
    .content_1120px__image {
        flex-basis: 50%;
        margin-right: 28px;
        background-image: url(background.png);
        background-repeat: no-repeat;
        height: 500px;
    }
    .content_1120px__block_link {
        position: relative;
        left: 30px;
    }
    .content_1120px__link {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .content_1120px__link::before {
        content: '';
        background-image: url(next.png);
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -15px;
        top: 5px;
    }
}