@media screen and (max-width: 320px) {
    html, .body {
        font-family: "TT Lakes";
        background-color: #f8f8f8;
        margin: 0;
        overflow-x: auto;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .icons-and-logo {
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF;
        padding: 20px;
        overflow-x: hidden;
    }
    .icons-and-logo__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
    .header {
        margin-left: 20px;
        position: relative;
    }
    .header::before {
        content: "";
        background-image: url(./img/highlight.png);
        width: 4px;
        height: 40px;
        position: absolute;
        left: -20px;
        top: 20px;
    }
    .menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
        min-width: 1120px;
        justify-content: space-evenly;
    }
    .menu__item {
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
    }
    .menu__item_blue {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .menu__link {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .content__text {
        max-width: 80%;
        align-self: baseline;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        margin: auto;
    }
    .content__block_link {
        position: relative;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    .content__link {
        text-decoration: none;
        color: black;
        margin-left: 25px;
        position: relative;
        font-weight: bold;
        font-size: 16px;
    }
    .content__link::before {
        content: '';
        background-image: url(./img/next.png);
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -16px;
        top: 5px;
    }
    .content__block_image {
        overflow-x: hidden;
    }
    .content__image {
        max-width: 100%;
        height: auto;
    }
    .icons-and-logo_768px {
        display: none;
    }
    .content_768px {
        display: none;
    }
    .header-and-links_1120px {
        display: none;
    }
    .content_1120px {
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    .icons-and-logo {
        display: none !important;
    }
    .content {
        display: none !important;
    }
    .header-and-links_1120px {
        display: none !important;
    }
    .content_1120px {
        display: none !important;
    }
    html, .body {
        font-family: "TT Lakes";
        background-color: #f8f8f8;
        margin: 0;
        overflow-x: auto;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .icons-and-logo_768px {
        width: 100%;
        display: flex;
        background-color: #FFFFFF;
        padding: 20px;
        justify-content: space-evenly;
    }
    .icons-and-logo_768px__block {
        flex-basis: 50%;
        max-width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .icons-and-logo_768px__logo {
        flex-basis: 70%
    }
    .icons-and-logo_768px__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
    .header {
        margin-left: 20px;
        position: relative;
        font-size: 24px;
        font-weight: 800;
    }
    .header::before {
        content: "";
        background-image: url(./img/highlight.png);
        width: 4px;
        height: 60px;
        position: absolute;
        left: -20px;
        top: 30px;
    }
    .menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        min-width: 1120px;
        overflow-x: auto;
        justify-content: space-around;
    }
    .menu__item {
        background: #FFFFFF;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
    }
    .menu__item_blue {
        border: 2px solid #B8FFEC;
    }
    .menu__link {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .content_768px {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content_768px__text {
        flex-basis: 40%;
        padding-left: 20px;
    }
    .content_768px__block_image {
        margin-top: 20px;
        margin-left: 10%;
    }
    .content_768px__block_link {
        margin-left: 40px;
        position: relative;
    }
    .content_768px__link {
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
    .content_768px__link::before {
        content: '';
        background-image: url(./img/next.png);
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -15px;
        top: 5px;
    }
}

@media (min-width: 769px) and (max-width: 1120px) {
    .icons-and-logo {
        display: none !important;
    }
    .icons-and-logo_768px, .icons-and-logo_768px__block_main, .icons-and-logo_768px__block_minor {
        display: none;
    }
    .header {
        display: none !important;
    }
    .content {
        display: none !important;
    }
    .content_768px {
        display: none !important;
    }
    .body {
        font-family: "TT Lakes";
        background-color: #f8f8f8;
        margin: 0;
    }
    html {
        /* box-sizing: border-box; */
        overflow-x: auto;
    }
    .main {
        max-width: 100%;
        margin-top: 42px;
        margin-left: 32px;
        margin-right: 28px;
    }
    .header-and-links_1120px {
        width: 100%;
        display: flex;
    }
    .header-and-links_1120px__header {
        flex: 50%;
        font-size: 28px;
    }
    .header-and-links_1120px__head {
        margin: 0;
    }
    .header-and-links_1120px__header::before {
        content: "";
        background-image: url(./img/highlight.png);
        width: 6px;
        height: 60px;
        position: absolute;
        left: 0;
    }
    .header-and-links_1120px__links {
        flex: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: medium;
    }
    .header-and-links_1120px__link {
        text-decoration: none;
        color: black;
    }
    .header-and-links_1120px__button {
        border: none;
        background-color: #f8f8f8;
        outline: none;
        outline-offset: none;
    }
    .header-and-links_1120px__nav {
        display: flex;
    }
    .header-and-links_1120px__nav_left {}
    .header-and-links_1120px__link {
        align-self: center;
    }
    .menu {
        margin-top: 8px;
    }
    .menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu__item {
        box-sizing: border-box;
        padding: 10px;
    }
    .menu__item_big {
        margin-left: 20px;
    }
    .menu__item_blue {
        border: 2px solid #B8FFEC;
        background: #FFFFFF;
        border-radius: 6px;
    }
    .menu__link {
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .content_1120px {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .content_1120px__text {
        flex-basis: 490px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        letter-spacing: 0.2px;
    }
    .content_1120px__text-el {
        margin-left: -10px;
        margin-top: 0;
    }
    .content_1120px__image {
        display: flex;
        justify-content: flex-end;
    }
    .content_1120px__img-el {
        border-radius: 10px;
        width: 500px;
    }
    .content_1120px__block_link {
        position: relative;
        left: 30px;
    }
    .content_1120px__link {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .content_1120px__link::before {
        content: '';
        background-image: url(./img/next.png);
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -15px;
        top: 5px;
    }
}

@media screen and (min-width: 321px) and (max-width: 414px) {
    .icons-and-logo_768px {
        display: none !important;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .icons-and-logo {
        flex-basis: 100%;
        display: flex !important;
        justify-content: space-around;
        background-color: #FFFFFF;
        padding: 20px;
        overflow-x: hidden;
    }
    .icons-and-logo__button {
        border: none;
        background-color: #FFFFFF;
        outline: none;
        outline-offset: none;
    }
}

@media screen and ( min-width: 321px) and (max-width: 640px) {
    html, .body {
        box-sizing: border-box;
        margin: 0;
        overflow-x: auto;
    }
    .menu__item {
        background-color: #f8f8f8;
    }
    .menu__item_blue {
        background-color: #FFFFFF;
    }
    .content_768px__text {
        display: inline-block;
        max-width: 30%;
        margin: 0;
    }
    .content_768px__block_image {
        display: inline-block;
        max-width: 60%;
        margin-left: -40px;
        overflow-x: auto;
    }
    .header {
        margin-left: 20px;
    }
}